<!DOCTYPE html>
<html>
	<head>
		<title>TP2</title>
		<meta charset="utf-8"/>
		<meta name="author" content="Jonathan Lauzon" />
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<div id="tableau">
			<div class="rangee">
				<p class="case case--head case--nom case--nom--nouveau">Nom</p>
				<p class="case case--head case--prenom case--prenom--nouveau">Prénom</p>
				<p class="case case--head case--telephone case--telephone--nouveau">Téléphone</p>
				<p class="case case--head case--id">_id</p>
				<p class="case case--head case--vide"></p>
				<p class="case case--head case--ajouter">Ajouter</p>
			</div>
			<% if (liste) { %>
				<div class="rangee">
				<% for (var i = 0; i < liste.length; i++) { %>
					<p class="case case--nom"><%= liste[i].nom %></p>
					<p class="case case--prenom"><%= liste[i].prenom %></p>
					<p class="case case--telephone"><%= liste[i].telephone %></p>
					<p class="case case--id"><%= liste[i]._id %></p>
					<p class="case case--modifier" data-id="<%= liste[i]._id %>">Modifier</p>
					<p class="case case--supprimer" data-id="<%= liste[i]._id %>">Supprimer</p>
				<% } %>
				</div>
			<% } %>
		</div>
		<script type="text/javascript" src="js/script.js"></script>
	</body>
</html>